<html>
  <head>
    <meta charSet='utf-8'>
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'>
    <link rel='icon' href='/favicon.png'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap' rel='stylesheet'>
    <title>Dirty Demo</title>
    <style>
      html, body {
        background: #000;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id='a'>
      <div id='a-0' style='width: 100%; height: 100%; background: #000000;'></div>
      <div id='a-1' style='width: 100%; height: 100%; background: #050505;'></div>
      <div id='a-2' style='width: 100%; height: 100%; background: #0a0a0a;'></div>
      <div id='a-3' style='width: 100%; height: 100%; background: #0f0f0f;'></div>
      <div id='a-4' style='width: 100%; height: 100%; background: #141414;'></div>
      <div id='a-5' style='width: 100%; height: 100%; background: #191919;'></div>
      <div id='a-6' style='width: 100%; height: 100%; background: #141414;'></div>
      <div id='a-7' style='width: 100%; height: 100%; background: #0f0f0f;'></div>
      <div id='a-8' style='width: 100%; height: 100%; background: #0a0a0a;'></div>
      <div id='a-9' style='width: 100%; height: 100%; background: #050505;'></div>
      <div id='a-10' style='width: 100%; height: 100%; background: #000000;'></div>
    </div>
  </body>
</html>
